@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Bitcount+Single+Ink:wght@100..900&family=Cinzel:wght@400..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Special+Gothic:wght@400..700&family=Tektur:wght@400..900&display=swap');
@keyframes fade-in-up {
   from {
     opacity: 0;
     transform: translateY(30px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }